#all {display:flex; flex-flow:row nowrap; justify-content:space-between;}
#all header {height:100vh;background:#fffcef; width:200px; padding:40px 25px; order:2; display:flex; flex-flow:column wrap;}
#all header a {
    line-height:2; font-size:1.2rem;
    font-weight:600; color:#ff935e;
}
#all header a:hover {color:#ff6112;}
#all #wrap {order:1; width:calc(100% - 200px);}
#all #wrap main {text-align:center;}
#all #wrap main h1 {font-size:3rem; padding-top:50px; color:#ff935e;}
#all #wrap main .contents {line-height:1.7; font-size:1.2rem;}
#all #wrap main .contents em {font-weight:600; font-size:1.5rem;}
#all #wrap footer {border-top:1px dotted #aaa; width:100%; height:100px; margin-top:50px; padding:20px 0; line-height:2; text-align:center;}